.bf-exr-tr { cursor:pointer; }
.bf-exr-tr-selected { color:#0099cc }

.bf-tr { cursor:pointer; }
.bf-tr-selected { color:#0099cc }

.bf-path-tr { cursor:pointer; }
.bf-path-tr-selected { color:#0099cc }
